fastapi
uvicorn
SQLAlchemy
psycopg2-binary
alembic
python-jose[cryptography]
passlib[bcrypt]
pydantic
pydantic-settings
pytest
httpx 
python-multipart
pydantic[email]
twilio
openai
elevenlabs
python-dotenv
email-validator
stripe
fastapi_limiter
websockets
aiohttp