fastapi
uvicorn
SQLAlchemy
psycopg[binary]
alembic
python-jose[cryptography]
passlib[bcrypt]
pydantic
pydantic-settings
pytest
httpx 
python-multipart
pydantic[email]
twilio
email-validator
openai
elevenlabs
python-dotenv
